@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  z-index: 100;
  background: #464053;
}
nav .navbar {
  position: relative;
  padding: 0px 20px;
  height: 70px;
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .nav-links {
  display: inline-flex;
  z-index: 101;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  background: #3a3b3c;
}

.nav-links .drop-menu {
  position: absolute;
  background: #464053;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.navbar .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.navbar .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

nav input {
  display: none;
}
.drop-menu a.selected {
  background-color: #6e9e93;
}
.drop-menu a.selected:hover {
  background-color: #6e9e93;
}

.drop-menu a.unclickable {
  pointer-events: none;
  opacity: 0.5;
}

@mixin a11y-visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.window {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 300px;
  z-index: 102;
  border: 5px solid #5e2ae9;
  box-shadow: 15px 15px 0 #5e2ae9;
  max-width: 600px;
  max-height: 500px;
  background-color: #7f00ff;
  filter: saturate(0.1);
  border-radius: 3px;
  margin-top: 80px;
}

.window__title-bar {
  background-color: #8c5afb;
  color: white;
  padding: 13px var(--default-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  user-select: none;
  z-index: 1;
  height: 60px;
  box-shadow: 0px 5px 6px -2px #bb99ff5e;
  padding: 10px;
}

.window__body {
  flex-grow: 1;
  background-color: white;
  padding: var(--default-padding);
  overflow-y: auto;
  scrollbar-color: #4d21c3 #dfd4fd;
  scrollbar-width: thin;
  padding: 5px;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #dfd4fd;
  }

  &::-webkit-scrollbar-thumb {
    background: #4d21c3;
  }
}

.window__btn {
  cursor: pointer;
  background-color: #5e2ae9;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ae63e4;

  &:hover {
    opacity: 1;
  }

  span {
    @include a11y-visually-hidden;
  }
}

.window__btn + .window__btn {
  margin-left: 6px;
  color: #ffffff;
}

.window__title {
  line-height: 1;
  font-weight: 500;
  font-size: 1rem;
}

pre {
  font-family: monospace;
  background-color: #8c5afb;
  color: white;
  padding: 10px;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
}

.window__status-bar {
  padding: 3px var(--default-padding);
  font-size: 0.75rem;
  color: #ecd4ff;
}

::-moz-selection {
  color: white;
  background: hotpink;
}
::selection {
  color: white;
  background: hotpink;
}

.overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}

.hidden {
  display: none;
}
p + h2 {
  margin-top: 20px;
}

#map {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100vh - 70px);
  width: 100%;
  z-index: 1;
}
.map-legend {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 2;
  font-size: 18px;
}
.unavailable {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(226, 69, 21);
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
